<div class="container text-center break-text">
    <h3><br></h3>
    <h3>Projects</h3>
    <h3><br></h3>
    <div *ngFor="let p of projects">
        <h5>{{p.title}}</h5>
        <p><br></p>
        <img class="imageUrl-style" src="{{p.imageUrl}}" />
        <p><br></p>
        <p><b>{{p.description}}</b></p>
        <a class="mr-4 btn btn-light" href="{{p.link}}" target="_blank">Project Link</a>
        <a class="ml-4 btn btn-light" href="/projects/{{p.id}}" routerLink="/projects/{{p.id}}">More Details</a>
        <br>
        <p><i>Posted: {{p.lastUpdated | date: 'dd/MM/yyyy'}}</i></p>
        <div *ngIf="showAdmin">
            <a class="btn btn-warning mr-1" href="/edit-project/{{p.id}}" routerLink="/edit-project/{{p.id}}">Edit</a>
            <button class="btn btn-danger ml-1" (click)="deleteProject(p.id)">Delete</button>
        </div>
        <p><br></p>
        <hr>
    </div>
</div>
