<div class="container">
    <header class="jumbotron">
      <h3><br></h3>
      <h3>Welcome to My Portfolio</h3>
      <h3><br></h3>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><img src="../../../assets/images/me-picture.jpg"></li>
        <li class="mt-auto list-group-item">
          <h5>Hi, I am Shaun. I created this portfolio as a space to document my work as a Software Engineer.<br><br>
          My main stack is Java, Spring and Angular, however I am always open to learn new technologies.<br><br>
          I write about projects that I have worked on and I make tutorials to document methodologies that I have aquired during my career.
          <br><br>
          </h5>
          <p class="float-right">Contact: <a>shaun.haldane@gmail.com</a></p>
        </li>
      </ul>
    </header>
  </div>
  
